QWidget {
    background-color: rgb(23, 23, 23);
    color: white;
}

QLineEdit, QListWidget {
    background-color: rgb(30, 30, 30);
    color: white;
}

QLineEdit:focus {
    border-width: 1px;
    border-radius: 3px;
    border-color: gray;
    border-style: solid;
}

QMenu::item {
    background-color: rgb(100, 100, 100);
}

QMenu::item:selected {
    background-color: rgb(0, 132, 255);
}
