QWidget {
    background-color: rgb(23, 23, 23);
    color: white;
}

QLineEdit {
    background-color: rgb(30, 30, 30);
    color: white;
}

QLineEdit:focus {
    border-width: 1px;
    border-radius: 3px;
    border-color: gray;
    border-style: solid;
}

QListWidget {
    background-color: rgb(30, 30, 30);
    color: white;
    border-color: rgb(20, 20, 20);
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
}

QListWidget::item:hover {
    background-color: rgb(40, 40, 40);
}

QListWidget::item:selected {
    background-color: rgb(0, 138, 202);
}

QMenu::item {
    background-color: rgb(68, 68, 68);
}

QMenu::item:selected {
    background-color: rgb(0, 132, 255);
}

QScrollBar:vertical {
    border: none;
    border-radius: 4px;
    background: rgb(30, 30, 30);
    width: 6px;
    margin: 0px 0px 0px 0px;
}

QScrollBar::handle:vertical {
    background: rgb(82, 82, 82);
    border-radius: 3px;
}

QScrollBar::handle:hover {
    background: rgb(140, 140, 140);
}

QScrollBar::add-line:vertical {
    height: 0px;
}

QScrollBar::sub-line:vertical {
    height: 0px;
}

QPushButton {
    color: white;
    background-color: rgb(46, 46, 46);
    border: none;
    border-radius: 5px;
}

QPushButton:hover {
    background-color: rgb(65, 65, 65)
}

QPushButton#go_btn:enabled {
    background-color: rgb(0, 200, 0);
    border-radius: 5px;
}

QPushButton#go_btn:enabled:hover {
    background-color: rgb(0, 240, 0)
}

QPushButton#go_btn:disabled {
    color: gray;
    background-color: rgb(30, 30, 30);
    border: none;
    border-radius: 5px;
}
